.page-header {
  width: 100%;
  max-width: 100%;
}
.page-header__wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 40px;
}
.page-header__logo-link {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #1a1a1a;
}
.page-header__item-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #1a1a1a;
  padding-top: 4px;
}
.entry-sign {
  background-color: #f47600;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  margin-left: 40px;
  border-radius: 4px;
  width: 108px;
  height: 49px;
  cursor: pointer;
}
.page-header__nav-contain {
  display: flex;
}
.page-header__logo-wrapper {
  margin-left: 24px;
  margin-top: 10px;
}
.page-header__nav-wrapper {
  padding-left: 179px;
  margin-top: 7px;
}
.page-header__item:nth-child(2) {
  padding-left: 48px;
}
.page-header__item:nth-child(3) {
  padding-left: 47px;
}
.page-header__item:nth-child(4) {
  padding-left: 49px;
}
.page-header__item:nth-child(5) {
  padding-left: 50px;
}
.page-header__wrapper-entry {
  padding-left: 15px;
}
body {
  background: #ffffff;
  font-size: 25px;
  font-family: "Montserrat", "Arial", "sans-serif";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}
.desc {
  width: 100%;
  max-width: 100%;
}
.desc__wrapper {
  max-width: 1200px;
  margin: auto;
}
.desc__title {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #1a1a1a;
  padding-left: 24px;
  padding-top: 2px;
  margin-bottom: 24px;
}
.desc__par {
  font-family: "Montserrat", "Arial", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #444444;
  width: 88%;
  padding-left: 24px;
}
.desc__play,
.desc__play-explore {
  font-family: "Montserrat", "Arial", "sans-serif";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  background-color: #f47600;
  color: #ffffff;
  padding: 20px 64px 20px 33px;
  border-radius: 4px;
  position: relative;
}
.desc__play-explore::before {
  content: "";
  position: absolute;
  background-image: url(../img/arrow.svg);
  width: 21px;
  height: 12px;
  right: 31px;
  top: 25px;
}
.desc__play::before {
  content: "";
  position: absolute;
  background-image: url(../img/play.svg);
  width: 18px;
  height: 20px;
  left: 25px;
  top: 21px;
  z-index: 1;
}
.desc__play::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -4px;
  width: 68px;
  height: 68px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 10px 10px 0 #DCDCDC;
}
.desc__play {
  color: #f47600;
  background-color: inherit;
  margin-left: 20px;
  padding-left: 85px;
}
.desc__play-block {
  margin-top: 57px;
  padding-left: 24px;
}
.desc__product-details,
.desc__icon-block {
  background-color: #fff8e6;
}
.desc__details {
  font-family: "Montserrat", "Arial", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #444444;
}
.desc__details:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #1a1a1a;
  margin-top: 7px;
}
.desc__details:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #1a1a1a;
  margin-top: 25px;
}
.desc__icon-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #1a1a1a;
  margin-top: 24px;
}
.desc__content-block {
  display: flex;
  margin-top: 45px;
  position: relative;
  margin-top: 35px;
}
.desc__product-details {
  position: absolute;
  top: 148px;
  right: 332px;
  display: flex;
  flex-direction: column;
  padding: 25px 48px 23px 40px;
  border-radius: 4px;
}
.desc__stars {
  position: relative;
  width: 76px;
  height: 12px;
  border: none;
  background-color: transparent;
}
.desc__stars::before {
  content: "";
  position: absolute;
  background-image: url(../img/stars.svg);
  width: 76px;
  height: 12px;
  bottom: 10px;
  left: 0;
  cursor: pointer;
}
.desc__btn {
  position: relative;
  width: 31px;
  height: 24px;
  background-color: transparent;
  border: none;
}
.desc__btn:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url(../img/left.svg);
  width: 31px;
  height: 24px;
  left: 0;
  bottom: 1px;
  cursor: pointer;
}
.desc__btn:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url(../img/right.svg);
  width: 31px;
  height: 24px;
  right: 6px;
  bottom: 1px;
  cursor: pointer;
}
.desc__product-photo {
  padding-right: 24px;
  padding-top: 1px;
}
.desc__list {
  display: flex;
  padding-top: 40px;
}
.desc__icon-block {
  position: relative;
  top: -5px;
  border-radius: 8px;
  margin: 0 24px;
  padding-bottom: 22px;
}
.desc__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc__item:nth-child(1) {
  margin-left: 105px;
}
.desc__item:nth-child(2) {
  margin-left: 104px;
}
.desc__item:nth-child(3) {
  margin-left: 105px;
}
.desc__item:nth-child(4) {
  margin-left: 104px;
}
.assort {
  width: 100%;
  max-width: 100%;
}
.assort__wrapper {
  max-width: 1200px;
  margin: auto;
}
.assort__title {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #1a1a1a;
  margin-top: 5px;
  margin-bottom: 5px;
}
.assort__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #444444;
  width: 75%;
  margin-bottom: 32px;
}
.assort__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  background-color: #f47600;
  border: none;
  width: 161px;
  height: 54px;
  border-radius: 4px;
  cursor: pointer;
}
.assort__product {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #1a1a1a;
  margin: 0;
  margin-bottom: 1px;
}
.assort__cost {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #f47600;
}
.assort__btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #f47600;
  margin-left: 48px;
  margin-top: 6px;
  position: relative;
  cursor: pointer;
}
.assort__btn::before {
  content: "";
  position: absolute;
  background-image: url(../img/arrow-little.svg);
  width: 11px;
  height: 8px;
  top: 16px;
  left: 15px;
}
.assort__item:nth-child(2) .assort__btn {
  margin-left: 44px;
}
.assort__item {
  width: 270px;
  min-height: 294px;
  background-color: #f7ece7;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.assort__item:nth-child(2) {
  background-color: #e4e2e0;
  margin-left: 24px;
}
.assort__item:nth-child(3) {
  background-color: #e6f8e9;
  margin-left: 24px;
}
.assort__item-photo {
  margin-top: 32px;
}
.assort__content-block {
  display: flex;
  padding-top: 123px;
  padding-left: 24px;
}
.assort__content {
  padding-left: 88px;
}
.assort__list {
  display: flex;
  margin-left: 318px;
}
.assort__list-block {
  position: relative;
  top: -136px;
}
.assort__product-block {
  display: flex;
  margin-top: 24px;
  align-self: flex-start;
  margin-left: 32px;
}
.offer {
  width: 100%;
  max-width: 100%;
}
.offer__wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.offer__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  color: #ffffff;
  margin-left: 176px;
  margin-top: 16px;
}
.offer__percent {
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  position: relative;
  color: #ffffff;
  margin-left: 163px;
  margin-top: 32px;
  margin-bottom: 17px;
}
.offer__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  z-index: 1;
  position: relative;
  color: #ffffff;
  width: 55%;
  text-align: center;
  margin: 0 0 23px 120px;
}
.offer__btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  z-index: 1;
  position: relative;
  width: 158px;
  height: 59px;
  color: #1a1a1a;
  border: none;
  border-radius: 4px;
  margin-left: 203px;
  cursor: pointer;
}
.offer__content {
  position: relative;
  margin-left: 24px;
}
.offer__content:nth-child(2) {
  margin-left: 0;
}
.offer__photo {
  position: absolute;
  top: -40px;
}
.result {
  width: 100%;
  max-width: 100%;
}
.result__wrapper {
  max-width: 1200px;
  margin: auto;
  padding-top: 188px;
  width: 75%;
  display: flex;
}
.result__block-content {
  display: flex;
  padding-left: 44px;
}
.result__content {
  padding-left: 48px;
}
.result__content-perc {
  color: #f47600;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 64px;
  font-weight: 700;
  line-height: 83px;
}
.result__title {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  color: #1a1a1a;
  width: 80%;
  margin-top: 32px;
  margin-bottom: 24px;
}
.result__par {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #444444;
  margin-top: 0;
  width: 83%;
}
.result__perc {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: #f47600;
}
.result__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #444444;
  margin-top: 16px;
  margin-bottom: 56px;
  width: 90%;
}
.result__block-text {
  padding-left: 18px;
}
.story {
  width: 100%;
  max-width: 100%;
}
.story__wrapper {
  max-width: 1200px;
  margin: auto;
  padding-top: 37px;
}
.story__title {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 12px;
}
.story__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #444444;
  text-align: center;
  width: 35%;
  margin: auto;
  margin-bottom: 53px;
}
.story__data {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #444444;
  margin: 20px 0 0 30px;
}
.story__subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #1a1a1a;
  margin: 19px 0 0 30px;
}
.story__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
  width: 80%;
  margin: 17px 0 13px 30px;
}
.story__btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #f47600;
  border: none;
  background-color: transparent;
  margin: 0 0 35px 24px;
  cursor: pointer;
}
.story__list {
  display: flex;
}
.story__item {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: 24px;
  box-shadow: 0px 14px 45px rgba(0, 0, 0, 0.11);
}
.sponsor {
  width: 100%;
  max-width: 100%;
  background-color: #fffaec;
  margin-top: 128px;
  padding-top: 26px;
}
.sponsor__wrapper {
  max-width: 1200px;
  margin: auto;
}
.sponsor__text {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  color: #1a1a1a;
  text-align: center;
}
.sponsor__content {
  padding-top: 7px;
  padding-bottom: 55px;
}
.sponsor__link-photo:nth-child(1) {
  margin-left: 24px;
}
.sponsor__link-photo:nth-child(2) {
  margin-left: 82px;
}
.sponsor__link-photo:nth-child(3) {
  margin-left: 81px;
}
.sponsor__link-photo:nth-child(4) {
  margin-left: 82px;
}
.sponsor__link-photo:nth-child(5) {
  margin-left: 81px;
}
.review {
  width: 100%;
  max-width: 100%;
}
.review__wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding-top: 127px;
  padding-bottom: 128px;
}
.review__card {
  display: flex;
  box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.1);
  width: 530px;
}
.review__slogan {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #f47600;
}
.review__headline {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  color: #1a1a1a;
  margin-top: 12px;
  margin-bottom: 25px;
}
.review__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #444444;
  width: 88%;
}
.review__caption {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #1a1a1a;
  margin-top: 24px;
  margin-bottom: 0;
}
.review__desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #444444;
  margin-top: 6px;
  margin-bottom: 4px;
}
.review__quote {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
  margin-top: 13px;
  margin-bottom: 23px;
}
.review__content {
  margin-left: 64px;
  padding-top: 63px;
  width: 95%;
}
.review__comment-block {
  margin-right: 65px;
}
.review__photo {
  margin: 24px 0 0 24px;
}
.review__card:nth-child(2) {
  margin-top: 24px;
}
.review__desc-block {
  margin-left: 20px;
}
.page-footer {
  width: 100%;
  max-width: 100%;
  background-color: #151000;
}
.page-footer__wrapper {
  max-width: 1200px;
  margin: auto;
  padding-top: 72px;
  padding-bottom: 100px;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
}
.page-footer__logo-link {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #ffffff;
}
.page-footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #eeeeee;
  width: 85%;
  margin-top: 24px;
  margin-right: 0;
}
.page-footer__subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #ffffff;
  margin-top: 0;
}
.page-footer__column:nth-child(2) .page-footer__subtitle,
.page-footer__column:nth-child(3) .page-footer__subtitle,
.page-footer__column:nth-child(4) .page-footer__subtitle {
  margin-bottom: 25px;
}
.page-footer__block-link {
  margin-bottom: 16px;
}
.page-footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  display: block;
}
.page-footer__par {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #eeeeee;
}
.page-footer__list {
  display: flex;
}
.page-footer__item {
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.page-footer__list {
  margin-top: 40px;
}
.page-footer__item a {
  display: block;
  width: 48px;
  height: 48px;
}
.page-footer__soc-link img {
  margin-top: 12px;
  margin-left: 12px;
}
.page-footer__item:nth-child(1) {
  margin-right: 20px;
}
.page-footer__item:nth-child(2) {
  margin-right: 20px;
}
.page-footer__column:nth-child(1) {
  margin-left: 24px;
  width: 35%;
}
.page-footer__column:nth-child(2) {
  margin-left: 30px;
}
.page-footer__column:nth-child(3) {
  margin-left: 57px;
}
.page-footer__column:nth-child(4) {
  margin-left: 56px;
}
.page-footer__column:nth-child(5) {
  width: 21%;
  margin-left: 57px;
}
.page-header__email {
  width: 193px;
  height: 38px;
  padding-left: 15px;
  border: none;
}
.page-header__email[placeholder="Enter email..."] {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.page-footer__btn {
  width: 40px;
  height: 40px;
  background-color: #f47600;
  position: absolute;
  top: 0;
  right: 2px;
  border: 0;
  cursor: pointer;
}
.page-footer__block-email {
  position: relative;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTS55F.eot');
  src: local('☺'), url('../fonts/PTS55F.woff') format('woff'), url('../fonts/PTS55F.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTS75F.eot');
  src: local('☺'), url('../fonts/PTS75F.woff') format('woff'), url('../fonts/PTS75F.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: local('☺'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot');
  src: local('☺'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
